<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block meta %} <!-- block meta -->{% endblock %}
		<title>{% block title %} ? {% endblock %} - 教师获奖管理系统</title>
		<link rel="stylesheet" href="/static/flat-ui/dist/css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="/static/styles/base.css">
		<style>
			.nav{
				float: right;
			}
			/*.navbar-nav .float-right{
				float: right;
			}*/
			body{
				background-color: #333;
				/*background-image: url(https://unsplash.it/1600/900/?image=496);*/
				background-attachment: fixed;
			}
			.navbar{
			}
			.navbar a{
				color: white;
			}
			.navbar a:hover{
				color: black;
			}
		</style>
		{% block beforehead %} <!-- before head -->{% endblock %}
	</head>
	<body >
			<nav class="navbar navbar-inverse" role="navigation" >
			<!-- Navbar content -->
			<div class="container">
					 <div class="navbar-header">
					    	<a class="navbar-brand" href="/">教师获奖管理系统</a>
					  </div>
					  <ul class="nav  navbar-nav" >
				      {% if user %}
				      	<li class='float-right'><a href="/u/{{user.sno}}">{{ user.name }}</a></li>
						<li class='float-right'><a href="/signout">登出</a></li>
				      {% else %}
				      {% endif %}
				    </ul>
			</div>
			</nav>	
			<div class='container'>
			<!-- 内容 -->
			{% if user %}
				{% if user.identify %}
					{% block login_content %}
					{% endblock %}
				{% else %}
					{% block login_student_content %}
					{% endblock %}	
				{% endif %}	
			{% else %}
				{% block content %}
				{% endblock %}	
			{% endif %}
				
			</div>
	<script src='/static/flat-ui/dist/js/vendor/jquery.min.js'></script>
	{% block script %}
	{% endblock%}
	</body>
</html>