<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block meta %} <!-- block meta -->{% endblock %}
		<title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
		<link rel="stylesheet" href="static/flat-ui/dist/css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="static/styles/base.css">
		<style>
			.nav{
				float: right;
			}
			.navbar-nav .float-right{
				float: right;
			}
			body{
				background-image: url(https://unsplash.it/1600/900/?blur);
				background-attachment: fixed;
			}
			.navbar a{
				color: white;
			}
			.navbar a:hover{
				color: black;
			}
		</style>
		{% block beforehead %} <!-- before head -->{% endblock %}
	</head>
	<body >
			<nav class="navbar" role="navigation" style='border-bottom:1px solid #fff;background-color:rgba(255,255,255,0.3)'>
			<!-- Navbar content -->
			<div class="container">
					 <div class="navbar-header">
					    	<a class="navbar-brand" href="#" style='color:#fff'>学生奖惩系统</a>
					  </div>
					  <ul class="nav navbar-nav">
				      {% if user %}
						<li class='float-right'><a href="/signout">登出</a></li>
				      	<li class='float-right'><a href="/u/{{user.name}}">{{ user.name }}</a></li>
				      {% else %}
				      {% endif %}
				    </ul>
			</div>
			</nav>	
			<div class='container'>
			<!-- 内容 -->
			{% if user %}
				{% block login_content %}
				{% endblock %}
			{% else %}
				{% block content %}
				{% endblock %}	
			{% endif %}
				
			</div>
	<script src='/static/flat-ui/dist/js/vendor/jquery.min.js'></script>
	{% block script %}
	{% endblock%}
	</body>
</html>