{% extends '__base__.html' %}
{% block title %}录入获奖信息{% endblock %}
<!-- 可以根据【姓名，学号，年级，学院，】 -->
{% block login_student_content %}
 <div class="panel">
 	<div class="panel-body">
 		<form method='post' enctype="multipart/form-data" id="addProductForm" action='javascript:;'>
 			<div class="form-group col-sm-3">
 				<h3>{{user.name}}</h3>
 				<input type='hidden' name='sno' value="{{user.sno}}" >
 			</div>
 			<div class="form-group col-sm-3">
 				<label for="grade_add">奖励时间：</label>
 				<select name="year" id="grade_add" class='form-control'>
 					<option value="2006">2006</option>
					<option value="2007">2007</option>
					<option value="2008">2008</option>
					<option value="2009">2009</option>
					<option value="2010">2010</option>
					<option value="2011">2011</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>
					<option value="2024">2024</option>
 				</select>
 			</div>
 			<div class="form-group col-sm-3">
 				<label for="award_type_add">类型：</label>
 				<select name="award_type" id="award_type_add" class='form-control'>
 					<option value="1">校三等奖</option>
 					<option value="0">校二等奖</option>
 					<option value="2">校一等奖</option>
 					<option value="3">省三等奖</option>
 					<option value="4">省二等奖</option>
 					<option value="5">省一等奖</option>
 					<option value="6">国家三等奖</option>
 					<option value="7">国家二等奖</option>
 					<option value="8">国家一等奖</option>
 				</select>
 			</div>
 			<div class='form-group col-sm-3' style='height:60px;'>
 				<label>标题：</label>
 				<input type="text" name='award_title' class='form-control' placeholder='标题'>
 			</div>
 			<div class="form-group">
 				<label for="">上传图片:</label>
 					<input type='file' name ='image'  class='form-control' />
 			</div>
 			<div class="form-group">
 				<label for="">具体内容:</label>
 					<textarea name="content"  class='form-control' placeholder='具体内容' row='3' value=''>
 					</textarea>
 			</div>
 			<div class='from-group col-sm-3'>
 				<button type='submit' class='btn btn-search form-control' style='margin-top:24px'>增加记录</button>	
 			</div>
 		</form>
 	</div>
 </div>
 <div class='alert alert-warning alert-dismissable' role="alert" style='display:none'>
 		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		<span></span>
 	</div>
{% endblock %}
{% block script %}
	<script>
		$('#addProductForm').submit(function(e){
			e.preventDefault();
			var formData = new FormData($(this)[0]);
			console.log(formData)
			$.ajax({
				url:'/api/addaward',
				method:'POST',
				data:formData,
				contentType: false,
        		processData: false,
				dataType:'json',
				success:function(response){
					if(response.code==0){
						$('.alert>span').html(response.message);
						$('.alert').show();
						$('input[name=sno]').val("");
						$('input[name=award_title]').val("");
						$('textarea').val("");
					}
				}
			})
		})
	</script>
{% endblock%}